<div class="p-4">
  <h1 class="text-3xl font-bold underline">All Projects</h1>
  <p>[ Find me in app/views/projects/index.html.erb ]</p>
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <% @projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden hover:shadow-xl transition duration-300 ease-in-out">
          <%# if project.photos.first %>
            <%# cl_image_tag(project.photos.first.key, crop: :fill, class: "object-cover w-full h-64") %>
          <%# else %>
            <%# image_tag('placeholder.jpg', class: "object-cover w-full h-64") %>
          <%# end %>
          <div class="px-6 py-4">
            <p class="font-bold text-xl mb-2"><%= project.title %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<%= link_to "Create New", new_project_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 inline-block" %>

</div> 
