// inside app/assets/stylesheets/application.bootstrap.scss  
@import 'application.tailwind.css';
@import 'variables.scss';
@import 'globals.scss';

* {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
}

body {
  background-color: rgb(238, 240, 242);
}

turbo-frame {
  border: 1px solid blue;
}

form {
  max-width: 600px;
}